@font-face {
  font-family: "RSU";
  src: url("../fonts/rsu/RSU.eot?#iefix") format("embedded-opentype"),
    url("../fonts/rsu/RSU.woff") format("woff"),
    url("../fonts/rsu/RSU.ttf") format("truetype"),
    url("../fonts/rsu/RSU.svg#RSU") format("svg");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "RSU", Arial, Helvetica, sans-serif;
}
.header-btn-lg::before {
  width: 0;
}

.app-header .app-header__content {
  background-color: #2f435a;
}
.hamburger-inner,
.hamburger-inner::after,
.hamburger-inner::before {
  background-color: #ffffff;
}
.widget-content .widget-content-left .widget-heading {
  color: #ffffff;
  opacity: 1;
  font-size: 18px;
  font-weight: 500;
}

.app-theme-white.fixed-header .app-header__logo,
.app-sidebar .app-sidebar__inner,
.scrollbar-sidebar.ps,
.app-sidebar .scrollbar-sidebar,
.app-theme-white .app-footer .app-footer__inner,
.app-theme-white .app-header {
  background-color: #002046;
}

.app-header__logo .logo-src {
  background-image: url("../images/logos/logo_nav.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 150px;
  height: 60px;
}
.app-sidebar .app-sidebar__inner {
  padding-right: 0;
}
.vertical-nav-menu {
  margin-top: 1.5rem;
}
.closed-sidebar .app-sidebar .app-sidebar__inner ul.vertical-nav-menu > li > a {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 50px;
}
.vertical-nav-menu ul:before {
  width: 0;
}
.vertical-nav-menu > li > a {
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: auto;
  line-height: 24px;
  padding-left: 50px;
}
.vertical-nav-menu > li ul li a,
.vertical-nav-menu > li ul li a.mm-active,
.vertical-nav-menu > li ul li a:hover,
.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul.mm-show > li > a {
  color: #ffffff;
  font-weight: 500;
  font-size: 24px;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: auto;
  line-height: 24px;
  padding-left: 50px;
  border-radius: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.vertical-nav-menu > li ul li a.mm-active,
.vertical-nav-menu > li ul li a:hover {
  background-color: #3a76ad;
}
.vertical-nav-menu li.mm-active > a {
  font-weight: 500;
}
.vertical-nav-menu > li > a:hover,
.vertical-nav-menu > li > a.active,
.vertical-nav-menu li.mm-active > a {
  color: #002046;
  background-color: #ffffff;
  border-radius: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-weight: bold;
}
.vertical-nav-menu ul > li > a {
  color: #ffffff;
}
.vertical-nav-menu a .icon_infra,
.vertical-nav-menu > li ul li a .icon_infra {
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -17px;
  font-size: 1.5rem;
  opacity: 1;
  transition: color 300ms;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}
.vertical-nav-menu > li > a .icon_infra.i_dashboard {
  background-image: url("../images/icons/side_menu/dashboard.png");
}

.vertical-nav-menu > li > a:hover .icon_infra.i_dashboard,
.vertical-nav-menu > li > a.active .icon_infra.i_dashboard,
.vertical-nav-menu li.mm-active > a .icon_infra.i_dashboard {
  background-image: url("../images/icons/side_menu/dashboard_active.png");
}

.vertical-nav-menu > li > a .icon_infra.i_devices {
  background-image: url("../images/icons/side_menu/devices.png");
}

.vertical-nav-menu > li > a:hover .icon_infra.i_devices,
.vertical-nav-menu > li > a.active .icon_infra.i_devices,
.vertical-nav-menu li.mm-active > a .icon_infra.i_devices {
  background-image: url("../images/icons/side_menu/devices_active.png");
}
.vertical-nav-menu > li > a .icon_infra.i_configuration {
  background-image: url("../images/icons/side_menu/configuration.png");
}

.vertical-nav-menu > li > a:hover .icon_infra.i_configuration,
.vertical-nav-menu > li > a.active .icon_infra.i_configuration,
.vertical-nav-menu li.mm-active > a .icon_infra.i_configuration {
  background-image: url("../images/icons/side_menu/configuration_active.png");
}
.vertical-nav-menu > li > a .icon_infra.i_setup {
  background-image: url("../images/icons/side_menu/setup.png");
}

.vertical-nav-menu > li > a:hover .icon_infra.i_setup,
.vertical-nav-menu > li > a.active .icon_infra.i_setup,
.vertical-nav-menu li.mm-active > a .icon_infra.i_setup {
  background-image: url("../images/icons/side_menu/setup_active.png");
}

.vertical-nav-menu > li ul li a .icon_infra.i_template {
  background-image: url("../images/icons/side_menu/template.png");
}
.vertical-nav-menu > li ul li a .icon_infra.i_deploy {
  background-image: url("../images/icons/side_menu/deploy.png");
}
.vertical-nav-menu > li ul li a .icon_infra.i_jobs {
  background-image: url("../images/icons/side_menu/jobs.png");
}
.vertical-nav-menu > li ul li a .icon_infra.i_roles {
  background-image: url("../images/icons/side_menu/roles.png");
}
.vertical-nav-menu > li ul li a .icon_infra.i_staff {
  background-image: url("../images/icons/side_menu/staff.png");
}
.btn-logout {
  background-color: #001023;
  padding-top: 1.2rem;
  padding-bottom: 0.8rem;
  position: absolute;
  bottom: 0;
  height: 65px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.btn-logout span {
  font-size: 24px;
  margin-left: 0.5rem;
  color: #ffffff;
}
.btn-logout img {
  width: 30px;
  height: 30px;
  margin-bottom: 0.5rem;
}
.closed-sidebar .app-sidebar .btn-logout span {
  display: none;
}
.closed-sidebar .app-sidebar:hover .btn-logout {
  bottom: 60px;
}
.closed-sidebar .app-sidebar:hover .btn-logout span {
  display: block;
}
.closed-sidebar .app-sidebar .app-sidebar__inner ul.mm-show {
  display: none;
}
.closed-sidebar .app-sidebar:hover .app-sidebar__inner ul.mm-show {
  display: block;
}
.custom-select-year {
  width: 100%;
  max-width: 201px;
  font-size: 25px;
  height: 45px;
  background-color: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-image: url("../images/icons/input/arrowSelect.png");
  background-repeat: no-repeat;
  background-position: center right 1rem;
  background-size: 14px auto;
  color: #bababa;
}
.table.table-infra {
  background: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  overflow: hidden;
}
.table.table-infra thead tr th {
  background-color: #002046;
  font-size: 22px;
  color: #ffffff;
  font-weight: 400;
  border: none;
  border-bottom: none;
}
.table.table-infra tbody tr:nth-child(odd) td {
  font-size: 22px;
  color: #3a76ad;
  font-weight: 400;
  border: none;
  border-bottom: none;
}
.table.table-infra tbody tr:nth-child(even) td {
  font-size: 22px;
  color: #3aa8d8;
  font-weight: 400;
  border: none;
  border-bottom: none;
}
.table.table-infra tbody tr td:first-of-type {
  padding-left: 1.5rem;
}
.table.table-infra tbody tr td:last-of-type {
  padding-right: 1.5rem;
}
.table.table-infra thead tr th:first-of-type {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-left: 1.5rem;
}
.table.table-infra thead tr th:last-of-type {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-right: 1.5rem;
}
.card-infra {
  background: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
.txtTitleLog {
  font-size: 22px;
  color: #001023;
  text-align: center;
  font-weight: bold;
}
.section_date {
  width: 90%;
  max-width: 480px;
  margin: 0 auto;
}
.section_date ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.section_date ul li {
  display: block;
  font-size: 20px;
  color: #3aa8d8;
  font-weight: bold;
  width: 40px;
  text-align: center;
}
.section_date ul li:first-of-type,
.section_date ul li:last-of-type {
  color: #2a5ba4;
}
.section_date_num {
  width: 90%;
  max-width: 480px;
  margin: 0 auto;
  margin-top: 0.5rem;
  position: relative;
}
.section_date_num .btnLeft {
  position: absolute;
  right: 100%;
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_date_num .btnRight {
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_date_num ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.section_date_num ul li a {
  display: block;
  font-size: 20px;
  line-height: 20px;
  color: #3aa8d8;
  font-weight: normal;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section_date_num ul li:first-of-type a,
.section_date_num ul li:last-of-type a {
  color: #2a5ba4;
}
.section_date_num ul li a.active,
.section_date_num ul li a:hover {
  color: #ffffff;
  background-color: #001023;
  border-radius: 50%;
}
.section_date_num ul li a:hover {
  text-decoration: none;
}
.table-card-log-month {
  border: 1px solid #002046;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 1rem;
}
.table-card-log-month .table tbody tr td {
  font-size: 18px;
  color: #2f435a;
}
.table-card-log-month .table tbody tr td:first-of-type {
  padding-left: 1.5rem;
}
.txtTitleDeivceGroups {
  font-size: 20px;
  color: #3a76ad;
  margin-bottom: 0;
}
.txtTitleAllDeivces {
  font-size: 30px;
  margin-bottom: 0;
  color: #bababa;
}
.table.table-devices {
  background: #ffffff;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  border-radius: 1rem;
  overflow: hidden;
}
.table.table-devices thead tr th {
  background-color: #979797;
  font-size: 22px;
  color: #ffffff;
  font-weight: 400;
  border: none;
  border-bottom: none;
}
.table.table-devices tbody tr td {
  font-size: 22px;
  color: #2f435a;
  font-weight: 400;
  border: none;
  border-bottom: none;
}
.table.table-devices tbody tr td:first-of-type {
  padding-left: 1.5rem;
}
.table.table-devices tbody tr td:last-of-type {
  padding-right: 1.5rem;
}
.table.table-devices thead tr th:first-of-type {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-left: 1.5rem;
}
.table.table-devices thead tr th:last-of-type {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding-right: 1.5rem;
}
.custom-control-label::before,
.custom-control-label::after {
  top: 0.5rem;
}
.reachablitity_icon {
  width: 30px;
  height: 30px;
}
.c-3a76ad {
  color: #3a76ad !important;
}
.c-2f435a {
  color: #2f435a !important;
}

.btn-save,
.btn-history {
  color: #ffffff;
  background-color: #bababa;
  border-radius: 10px;
  font-size: 20px;
  min-width: 130px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 0.5rem;
}
.btn-outline-action {
  background-color: #ffffff;
  border: 1.5px solid #002046;
  min-width: 55px;
  height: 36px;
}
.btn-import {
  color: #ffffff;
  background-color: #002046;
  border-radius: 5px;
  font-size: 20px;
  min-width: 130px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  height: 36px;
  margin-bottom: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn-save-as-new-template {
  color: #ffffff;
  background-color: #002046;
  border-radius: 10px;
  font-size: 20px;
  min-width: 130px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 0.5rem;
}
.btn-cancel {
  color: #ffffff;
  background-color: #e36262;
  border-radius: 10px;
  font-size: 20px;
  min-width: 130px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 0.5rem;
}
.btn-deploy {
  color: #ffffff;
  background-color: #53ccfd;
  border-radius: 10px;
  font-size: 20px;
  min-width: 130px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 0.5rem;
}
.accordion.accordion-infra .card {
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.accordion.accordion-infra .card:not(:first-of-type):not(:last-of-type) {
  border-radius: 1rem;
}
.accordion.accordion-infra .card .card-header h2 .btn-link {
  font-size: 22px;
  color: #3a76ad;
  background-image: url("../images/icons/arrow_right_accordian.png");
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 1.2rem;
  font-weight: 700;
}
.accordion.accordion-infra .card .card-header h2 .btn-link.collapsed {
  background-image: url("../images/icons/arrow_down_accordian.png");
}
.col-form-label {
  font-size: 18px;
  color: #2f435a;
  font-weight: 700;
}
.col-form-label span {
  color: #e36262;
}
.title-section-form {
  margin-bottom: 0;
  color: #2f435a;
  font-size: 22px;
  font-weight: bold;
}
.form-control {
  font-size: 18px;
}
.txtTitleDeployFrm {
  font-size: 20px;
  color: #002046;
  font-weight: bold;
}
.forms-wizard li em {
  width: 74px;
  height: 74px;
  line-height: 74px;
  background-color: transparent;
  font-size: 35px;
  color: #bababa;
  border: 3px solid #bababa;
}
.forms-wizard li.active em {
  background-color: transparent;
  color: #002046;
  border: 3px solid #002046;
}
.forms-wizard li p {
  font-size: 20px;
  font-weight: bold;
  color: #bababa;
  line-height: 20px;
  height: 40px;
}
.forms-wizard li.active p,
.forms-wizard li.done p {
  color: #002046;
}
.forms-wizard li::after,
.forms-wizard li.done::after {
  width: 34px;
  height: 34px;
  left: calc(100% - 17px);
  background-color: transparent;
  margin-top: -50px;
}
.forms-wizard li::after {
  background-color: transparent;
  background-image: url("../images/icons/action_deploy/arrow-right-unactive.png");
}
.forms-wizard li.active::after,
.forms-wizard li.done::after {
  background-color: transparent;
  background-image: url("../images/icons/action_deploy/arrow-right-active.png");
}
.forms-wizard li:last-of-type::after {
  display: none;
}
.forms-wizard li::before {
  height: 0;
  width: 0;
}
.forms-wizard li.done em {
  color: #ffffff;
  border: 3px solid #002046;
  background-color: #002046;
}
.forms-wizard li.done em::before {
  width: 68px;
  height: 68px;
  line-height: 68px;
  background-color: #002046;
  content: "";
  background-image: url("../images/icons/action_deploy/pass.png");
  background-repeat: no-repeat;
  background-size: 40% auto;
  background-position: center center;
}
.bg-f3f3f3 {
  background-color: #f3f3f3;
}
.txtCardDeploy {
  font-size: 20px;
  color: #002046;
  margin-bottom: 0;
}
.ulDetailCardDeploy {
  font-size: 20px;
  color: #002046;
  font-weight: bold;
}
.btn_add_LeftGroup {
  width: 40px;
  height: 40px;
  padding: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #53ccfd;
  background-image: url("../images/icons/action_deploy/chevrons-left.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0.2rem;
}
.btn_add_Left {
  width: 40px;
  height: 40px;
  padding: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #a3e0f8;
  background-image: url("../images/icons/action_deploy/add_left.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0.2rem;
}
.btn_add_RightGroup {
  width: 40px;
  height: 40px;
  padding: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #303278;
  background-image: url("../images/icons/action_deploy/chevrons-right.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0.2rem;
}
.btn_add_Right {
  width: 40px;
  height: 40px;
  padding: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #9293b6;
  background-image: url("../images/icons/action_deploy/add_right.png");
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0.2rem;
}
.txtDefineVariable {
  font-size: 20px;
  font-weight: bold;
  color: #002046;
}
.clarify-ip {
  margin-bottom: 0;
  font-size: 18px;
  color: #3a76ad;
}
.label_step5,
.custom-control-label {
  font-size: 18px;
  color: #002046;
}
.custom-control-label::before,
.custom-control-label::after {
  top: 0.25rem;
}
.btn_previous_step,
.btn_next_step {
  font-size: 18px !important;
  color: #ffffff;
  background-color: #002046;
  min-width: 120px;
}
.btn_cancel {
  font-size: 18px !important;
  color: #ffffff;
  background-color: #e36262;
  min-width: 120px;
}
@media only screen and (max-width: 1320px) {
  .header-user-info {
    display: block;
  }
}
@media (max-width: 991.98px) {
  .app-header .app-header__logo {
    display: block;
  }
  .app-header .app-header__logo .logo-src {
    margin: 0 auto;
  }
  .app-header .app-header__logo .header__pane {
    display: none;
  }
  .sidebar-mobile-open .app-sidebar .app-sidebar__inner ul li a {
    padding: 1rem;
    padding-left: 50px;
  }
  .sidebar-mobile-open .app-sidebar .app-sidebar__inner ul.mm-show > li > a {
    height: 56px;
    padding: 1rem;
    padding-left: 50px;
    line-height: 24px;
  }
}
@media (max-width: 992px) {
  .btn_add_LeftGroup {
    background-image: url("../images/icons/action_deploy/chevrons-right-down.png");
  }
  .btn_add_Left {
    background-image: url("../images/icons/action_deploy/add_right_down.png");
  }
  .btn_add_RightGroup {
    background-image: url("../images/icons/action_deploy/chevrons-left-up.png");
  }
  .btn_add_Right {
    background-image: url("../images/icons/action_deploy/add_left_up.png");
  }
}
@media (max-width: 767px) {
  .btn-save,
  .btn-history {
    font-size: 16px;
    min-width: 80px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .btn-save-as-new-template {
    font-size: 16px;
    min-width: 80px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .btn-cancel {
    font-size: 16px;
    min-width: 80px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .btn-deploy {
    font-size: 16px;
    min-width: 80px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .forms-wizard li::after,
  .forms-wizard li.done::after {
    display: none;
  }
  .forms-wizard li em {
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
  .forms-wizard li.done em::before {
    width: 44px;
    height: 44px;
  }
}
